.App {
    /* Positioning */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    align-items: center;
    justify-content: center;
    /* Text */
    text-align: center;
    color: white;
    font-size: calc(6px + 2vmin);
}

.Background {
    position: absolute;
    height: 100%;
    width: 100%;
    /* Some suggestions for color combinations: /
    / background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: radial-gradient(ellipse at top, #ED254E 0%, #090a0f 100%);
    /* / background-size: 400% 400%; /
    / animation: ellipse-animation 5s ease-in-out infinite; */
    z-index: -2;
}

@media (min-aspect-ratio: 1/1) {
    /* For desktop devices */
    .Content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 80%;
        width: 35em;
    }

    .Track-layout {
        position: absolute;
        /* Place in the middle of the viewport */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45%;
        width: 100%;
        opacity: 0.3;
        filter: blur(1px);
        z-index: -1;
    }
}

@media (max-aspect-ratio: 1/1) {
    /* For mobile devices */
    .Content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 80%;
        width: 90%;
    }

    .Track-layout {
        position: absolute;
        /* Place in the middle of the viewport */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        opacity: 0.3;
        filter: blur(1px);
        z-index: -1;
    }
}

.Rendered-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
