.addLaptimeForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.addLaptimeForm input {
    height: 1em;
    border-radius: 10px;
    text-align: center;
}
