.Buttons {
    /* height: 100%; */
    width: 17rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.Buttons button {
    margin: 1%;
    width: 5rem;
    height: 5rem;
    animation: fade-in-buttons 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background: rgb(0, 0, 0, 0.1);
    border: none;
    color: white;
    padding: 20px 20px;
    font-size: inherit;
    font-family: inherit;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

@keyframes fade-in-buttons {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

button:hover {
    background: rgb(0, 0, 0, 0);
    cursor: pointer;
}

.button-icon {
    width: 2em;
    filter: invert(100%);
}

.timeDiffs-icon {
    width: 2em;
}

.time-diffs-button {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.time-diffs-button {
    height: 100%;
}

.other-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
