.track-selector {
    position: relative;
    font-size: 2.5em;
}

.track-selector select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
}

.track-selector select {
    opacity: 0;
}
