.track-selector {
  position: absolute;
  cursor: pointer;
  width: 65%;
  height: 100px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.track-selector select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 8px;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
}

.track-selector select {
  opacity: 0;
}
