.track-selector {
  position: relative;
  transform: translate(-50%, -50%);
  cursor: pointer;
  /* Make the element not block other items */
  pointer-events: none;
}

.track-selector select,
.track-selector div {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
  /* opacity: 0; */
}

.track-selector select {
  height: 100px;
  text-align: center;
  background-color: transparent;
  /* Scale font size with the width of the select box */
  font-size: calc(20px + 2vmin);
  color: white;
  font-family: inherit;
}

/* Customize the arrow to the right on the dropdown menu, make it bigger */
