.leaderboard-table {
  border-collapse: separate;
  border-spacing: 10px 10px;
  position: relative;
  width: 100%;
}

.leaderboard-table td,
.leaderboard-table th {
  border: none;
  padding: 8px;
  text-align: left;
}
