.leaderboard-table {
    border-collapse: separate;
    border-spacing: 0 0.5em;
    width: 100%;
    text-align: left;
}

.indexColumn {
    width: 1em;
}

.driverNameColumn {
    width: 3em;
}

.laptimeColumn {
    width: 5em;
}

.timeDiffsColumn {
    width: 4em;
}

.timeDiffs {
    color: yellow;
}

.racingLineColumn {
    text-align: end;
    width: 1em;
}

.driverStandingsPointsColumn {
    text-align: end;
    width: 1em;
}

.first-place {
    /* A light gold color */
    background-color: #ffd900bb;
}

.second-place {
    /* A light silver color */
    background-color: #ccccccbb;
}

.third-place {
    background-color: #fc9b3bbb;
}

/* Only color the index number */
/* .index-0 {
    color: #ffd700;
}

.index-1 {
    color: #cccccc;
}

.index-2 {
    color: #fc9b3b;
} */
