.leaderboard-table {
  border-collapse: separate;
  border-spacing: 0 0.5em;
  width: 100%;
  text-align: left;
}

.indexColumn {
  width: 1em;
}

.driverNameColumn {
  width: 3em;
}

.laptimeColumn {
  width: 5em;
}

.timeDiffsColumn {
  width: 4em;
}

.timeDiffs {
  color: yellow;
}

.racingLineColumn {
  text-align: end;
  width: 1em;
}
